<div data-collapse="medium" data-animation="over-right" data-duration="400" data-easing="ease" data-easing2="ease" data-no-scroll="1" role="banner" class="navbar w-nav">
          <div class="navigation-wrap">
            <div class="navigation-side align-left">
              <nav role="navigation" class="nav-menu-beyond-2 w-nav-menu">
                <div data-delay="0" data-hover="true" bind="e9b2fdd6-cf18-4a0d-7901-56eee20a5151" data-w-id="d154b648-44c2-f1da-0c23-bc03a74c940e" class="navigation-dropdown-2 is-static w-dropdown">
                  <div class="navigation-toggle w-dropdown-toggle">
                    <div href="#" class="nav-link-4">
                      <div class="nav-text-wrap-2">
                        <div class="link-text-2">Courses<br></div>
                        <div class="link-text-hov-2">Courses</div>
                      </div>
                    </div>
                    <div bind="e9b2fdd6-cf18-4a0d-7901-56eee20a515a" class="dropdown-icon-2 w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.5 10.5L12 15L16.5 10.5" stroke="currentColor" stroke-width="1.5"></path>
                      </svg></div>
                  </div>
                  <nav class="dropdown-list-wide-2 w-dropdown-list">
                    <div class="dropdowncard-2">
                      <section class="promo-section">
                        <div class="promo-container-2">
                          <a href="#" class="card-rollover w-inline-block">
                            <div class="places-card_image-wrap"><img sizes="100vw" srcset="{{ 'lashnation.au_1758169646_3724119376317747766_13575537128_1lashnation.au_1758169646_3724119376317747766_13575537128.avif' | asset_url }} 500w, {{ 'lashnation.au_1758169646_3724119376317747766_13575537128_1lashnation.au_1758169646_3724119376317747766_13575537128.avif' | asset_url }} 800w, {{ 'lashnation.au_1758169646_3724119376317747766_13575537128_1lashnation.au_1758169646_3724119376317747766_13575537128.avif' | asset_url }} 1440w" alt="" loading="lazy" src="{{ 'lashnation.au_1758169646_3724119376317747766_13575537128_1lashnation.au_1758169646_3724119376317747766_13575537128.avif' | asset_url }}" class="image-56"></div>
                            <div class="places-card_image-overlay-2"></div>
                            <div class="places-card_content">
                              <div class="places-card_heading-text-2">Group Courses</div>
                              <div class="places-card_desc-wrap">
                                <p class="places-card_desc-text">Hands-On Training with Live Models in a Supportive Group Setting.</p>
                              </div>
                            </div>
                          </a>
                          <a href="#" class="card-rollover w-inline-block">
                            <div class="places-card_image-wrap"><img sizes="100vw" srcset="{{ 'Private-Lash-Course_1Private-Lash-Course.avif' | asset_url }} 500w, {{ 'Private-Lash-Course_1Private-Lash-Course.avif' | asset_url }} 1080w" alt="" loading="lazy" src="{{ 'Private-Lash-Course_1Private-Lash-Course.avif' | asset_url }}" class="image-56"></div>
                            <div class="places-card_image-overlay-2"></div>
                            <div class="places-card_content">
                              <div class="places-card_heading-text-2">Private Courses</div>
                              <div class="places-card_desc-wrap">
                                <p class="places-card_desc-text">Hands on training with live models in a one-on-one setting</p>
                              </div>
                            </div>
                          </a>
                          <a href="#" class="card-rollover w-inline-block">
                            <div class="places-card_image-wrap"><img sizes="100vw" srcset="{{ 'Group-Lash-Course_1Group-Lash-Course.avif' | asset_url }} 500w, {{ 'Group-Lash-Course_1Group-Lash-Course.avif' | asset_url }} 1080w" alt="" loading="lazy" src="{{ 'Group-Lash-Course_1Group-Lash-Course.avif' | asset_url }}" class="image-56"></div>
                            <div class="places-card_image-overlay-2"></div>
                            <div class="places-card_content">
                              <div class="places-card_heading-text-2">Online Courses</div>
                              <div class="places-card_desc-wrap">
                                <p class="places-card_desc-text">Learn anytime, anywhere — with full support.</p>
                              </div>
                            </div>
                          </a>
                        </div>
                      </section>
                    </div>
                  </nav>
                </div>
                <a href="#" data-w-id="d154b648-44c2-f1da-0c23-bc03a74c943a" class="navigation-toggle link w-inline-block">
                  <div href="#" class="nav-link-4">
                    <div class="nav-text-wrap-2">
                      <div class="link-text-2">Reviews</div>
                      <div class="link-text-hov-2">Reviews</div>
                    </div>
                  </div>
                </a>
                <div class="div-block-764">
                  <div data-delay="0" data-hover="true" bind="e9b2fdd6-cf18-4a0d-7901-56eee20a51ec" data-w-id="d154b648-44c2-f1da-0c23-bc03a74c9442" class="navigation-dropdown-2 centre w-dropdown">
                    <div class="navigation-toggle w-dropdown-toggle">
                      <div href="#" class="nav-link-4">
                        <div class="nav-text-wrap-2">
                          <div class="link-text-2">About<br></div>
                          <div class="link-text-hov-2">About</div>
                        </div>
                      </div>
                      <div bind="e9b2fdd6-cf18-4a0d-7901-56eee20a51f5" class="dropdown-icon-2 w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M7.5 10.5L12 15L16.5 10.5" stroke="currentColor" stroke-width="1.5"></path>
                        </svg></div>
                    </div>
                    <nav class="list-grove w-dropdown-list">
                      <div class="div-block-762">
                        <div class="list-wrap-grove">
                          <div class="content-grove">
                            <div class="div-block-763">
                              <a href="#" class="navigation-feature-link w-inline-block">
                                <div class="column">
                                  <div class="subheading-small-2">About Us</div>
                                </div>
                              </a>
                              <a href="#" class="navigation-feature-link w-inline-block">
                                <div class="column">
                                  <div class="subheading-small-2">Success Stories</div>
                                </div>
                              </a>
                              <a href="#" class="navigation-feature-link w-inline-block">
                                <div class="column">
                                  <div class="subheading-small-2">Meet The Team</div>
                                </div>
                              </a>
                              <a href="#" class="navigation-feature-link w-inline-block">
                                <div class="column">
                                  <div class="subheading-small-2">Qualification</div>
                                </div>
                              </a>
                              <a href="#" class="navigation-feature-link w-inline-block">
                                <div class="column">
                                  <div class="subheading-small-2">Refer A Friend</div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </nav>
                  </div>
                </div>
              </nav>
            </div>
            <div class="navigation-side-2 left show-tablet">
              <a href="tel:1300599402" class="m-navigation-button-wrapper red is-phone w-inline-block">
                <div bind="e9b2fdd6-cf18-4a0d-7901-56eee20a5224" class="icon-1x1-medium-2 w-embed"><svg width="25" height="25" viewbox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="mage:phone">
                      <path id="Vector" d="M13.235 20.5051C12.9233 20.3666 12.6165 20.2175 12.315 20.0581C10.813 19.2091 9.43366 18.1595 8.215 16.9381C6.6331 15.4491 5.33381 13.686 4.38 11.7341C3.86976 10.6852 3.52501 9.56357 3.358 8.40913C3.13153 7.24314 3.26043 6.03601 3.728 4.94413C4.017 4.47413 4.365 4.04413 4.763 3.66513C4.9245 3.48397 5.12097 3.33734 5.34059 3.23406C5.56022 3.13078 5.79846 3.07298 6.041 3.06413C6.546 3.14013 7.003 3.40413 7.319 3.80613C8.009 4.57313 8.749 5.26313 9.478 5.99213C9.765 6.23813 9.944 6.58713 9.976 6.96413C9.964 7.28113 9.842 7.58413 9.631 7.82113C9.389 8.12813 9.095 8.40913 8.814 8.70313C8.64458 8.86692 8.51501 9.0674 8.43526 9.28914C8.35551 9.51088 8.32771 9.74796 8.354 9.98213C8.5304 10.5297 8.83206 11.0286 9.235 11.4391C9.721 12.1041 10.206 12.7191 10.755 13.3701C11.7424 14.5106 12.9128 15.4788 14.218 16.2351C14.3985 16.3712 14.6119 16.4571 14.8364 16.484C15.0608 16.5108 15.2884 16.4778 15.496 16.3881C15.9305 16.1462 16.3161 15.8254 16.633 15.4421C16.908 15.1071 17.302 14.8921 17.732 14.8411C18.115 14.8611 18.476 15.0251 18.742 15.3011C19.086 15.5951 19.38 15.9411 19.7 16.2601C20.019 16.5801 20.275 16.8101 20.543 17.1041C20.8643 17.3875 21.1667 17.6901 21.45 18.0121C21.67 18.2961 21.774 18.6521 21.744 19.0091C21.63 19.4365 21.3839 19.8169 21.041 20.0961C20.5588 20.5979 19.9729 20.9884 19.3241 21.2402C18.6754 21.492 17.9795 21.5992 17.285 21.5541C15.8791 21.4744 14.5028 21.1179 13.235 20.5051Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"></path>
                    </g>
                  </svg></div>
              </a>
            </div>
            <div class="navigation-side-2 mobileonly">
              <div class="div-block-764">
                <div data-delay="0" data-hover="true" bind="54a89536-2300-7d67-b7a9-0f179a69d49e" data-w-id="d154b648-44c2-f1da-0c23-bc03a74c94a8" class="navigation-dropdown-2 centre w-dropdown">
                  <div class="navigation-toggle-2 w-dropdown-toggle">
                    <div href="#" class="nav-link-4">
                      <div class="nav-text-wrap-2">
                        <div class="link-text-2">Maintenance<br></div>
                        <div class="link-text-hov-2">Maintenance</div>
                      </div>
                    </div>
                    <div bind="54a89536-2300-7d67-b7a9-0f179a69d4a7" class="dropdown-icon-2 w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.5 10.5L12 15L16.5 10.5" stroke="currentColor" stroke-width="1.5"></path>
                      </svg></div>
                  </div>
                  <nav class="list-grove w-dropdown-list">
                    <div class="div-block-762">
                      <div class="list-wrap-grove maintenance">
                        <div class="content-grove">
                          <a href="#" class="link-3-grove w-inline-block"><img loading="lazy" src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689/68dbd387397174a96084d417_tools-fill.svg" alt="" class="icon-1x1-medium-2">
                            <div class="menu-link-2">Maintenance Services</div>
                          </a>
                          <a href="#" class="link-3-grove w-inline-block"><img loading="lazy" src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689/68dbd387397174a96084d3f9_settings-5-line.svg" alt="" class="icon-1x1-medium-2">
                            <div class="menu-link-2">Third Party Maintenance</div>
                          </a>
                          <a href="#" class="link-3-grove w-inline-block"><img loading="lazy" src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689/68dbd387397174a96084d3f4_map-pin-2-line%20(1).svg" alt="" class="icon-1x1-medium-2">
                            <div class="menu-link-2">Location Details</div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </nav>
                </div>
              </div>
              <div class="div-block-764">
                <div data-delay="0" data-hover="true" bind="3bbbf4b9-81ad-7622-d517-4c396ab65f24" data-w-id="d154b648-44c2-f1da-0c23-bc03a74c94c3" class="navigation-dropdown-2 centre w-dropdown">
                  <div class="navigation-toggle-2 w-dropdown-toggle">
                    <div href="#" class="nav-link-4">
                      <div class="nav-text-wrap-2">
                        <div class="link-text-2">Surfaces<br></div>
                        <div class="link-text-hov-2">Surfaces</div>
                      </div>
                    </div>
                    <div bind="3bbbf4b9-81ad-7622-d517-4c396ab65f2d" class="dropdown-icon-2 w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.5 10.5L12 15L16.5 10.5" stroke="currentColor" stroke-width="1.5"></path>
                      </svg></div>
                  </div>
                  <nav class="list-grove w-dropdown-list">
                    <div class="div-block-762">
                      <div class="list-wrap-grove surfaces">
                        <div class="content-grove">
                          <a href="#" class="link-3-grove w-inline-block"><img loading="lazy" src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689/68dbd387397174a96084d3f7_football.svg" alt="" class="icon-1x1-medium-2">
                            <div class="menu-link-2">Sports Surfaces</div>
                          </a>
                          <a href="#" class="link-3-grove w-inline-block"><img loading="lazy" src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689/68dbd387397174a96084d3fa_hammer-line.svg" alt="" class="icon-1x1-medium-2">
                            <div class="menu-link-2">Woodholme Construction</div>
                          </a>
                          <a href="#" class="link-3-grove w-inline-block"><img loading="lazy" src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689/68dbd387397174a96084d3f4_map-pin-2-line%20(1).svg" alt="" class="icon-1x1-medium-2">
                            <div class="menu-link-2">Location Details</div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </nav>
                </div>
              </div>
              <div class="hide-tablet">
                <a href="#" bind="14f24e57-65b0-d756-3869-f8d259cb601e" sym-bind="{"link":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"abd48bfb-d708-6bdf-d8a5-842d29e77fd1"}}}" class="button-30 white-28 w-inline-block">
                  <div class="icon-link-3 white-3">
                    <div class="clip-2 white-10">
                      <div class="hover-text white-31">
                        <div sym-bind="{"children":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"37cd13bf-30f2-b752-cae8-a49c792c8044"}}}" class="text-size-small-25 white-34">Contact</div>
                      </div>
                      <div class="hover-text white-31 bottom white-20">
                        <div sym-bind="{"children":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"37cd13bf-30f2-b752-cae8-a49c792c8044"}}}" class="text-size-small-25 white-34">Contact</div>
                      </div>
                    </div>
                    <div sym-bind="{"visibility":{"type":"Record","val":{"conditions":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"96595133-de64-782c-bc2b-1a27b5d57cf2"}}}}}" class="icon-link_circle-2 white-22">
                      <div class="clip-2 white-10">
                        <div class="hover-arrow-3 white-37"><img sym-bind="{"img":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"65b07040-501f-bf3a-2cb4-717461e9b2dd"}}}" loading="lazy" alt="" src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689/68dbd387397174a96084d3f5_arrow-right-s-line.svg" class="icon-1x1-small-7 white-12"></div>
                        <div class="hover-arrow-3 white-37 left-arrow white-13"><img sym-bind="{"img":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"65b07040-501f-bf3a-2cb4-717461e9b2dd"}}}" loading="lazy" alt="" src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689/68dbd387397174a96084d3f5_arrow-right-s-line.svg" class="icon-1x1-small-7 white-12"></div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <a href="../index.html" class="brand-2 w-nav-brand">{% if section.settings.image_white_logo %}
{{ section.settings.image_white_logo | image_url: width: 160 | image_tag: loading: 'lazy', class: 'logo-nav-desktop' }}
{% else %}
<img loading="lazy" alt="" src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689/68f23c7192dd43f5c1c5874a_Lash%20Nation%20Logo%20Dark.svg" class="logo-nav-desktop">
{% endif %}{% if section.settings.image_white_logo %}
{{ section.settings.image_white_logo | image_url: width: 160 | image_tag: loading: 'lazy', class: 'logo-nav-mobile' }}
{% else %}
<img loading="lazy" alt="" src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689/68f254eb82dcf8aa145a4a5c_Lash%20Nation%20Logo%20Dark%20Mobile.svg" class="logo-nav-mobile">
{% endif %}</a>
            <div class="navigation-side-2 right">
              <div class="hide-tablet">
                <div bind="63674141-9ca1-0af9-59df-f526ad09f5e4" class="button-wrapper-2">
                  <a href="#" class="button-16 w-inline-block">
                    <div class="btn-txt-container">
                      <div class="btn-txt">Course Dates</div>
                      <div class="btn-txt">Course Dates</div>
                    </div>
                  </a>
                </div>
              </div>
              <div data-w-id="d154b648-44c2-f1da-0c23-bc03a74c955a" class="menu-trigger-2">
                <div data-is-ix2-target="1" class="hamburger" data-w-id="d154b648-44c2-f1da-0c23-bc03a74c955b" data-animation-type="lottie" data-src="https://uploads-ssl.webflow.com/64bf8d44ac153e5f63054667/64bf8d44ac153e5f63054700_76866-hamburger.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="3" data-duration="0"></div>
              </div>
            </div>
          </div>
          <div id="w-node-d154b648-44c2-f1da-0c23-bc03a74c955c-d5a86df8" class="nav-cover"></div>
          <div id="mobile-menu" class="menu-mob-container">
            <div bind="9e9206c3-e206-98f8-7315-36b7f24316b1" class="div-block-765">
              <div class="_12rem-spacer"></div>
              <div bind="deb1dfed-a6e9-c3ec-e777-5f3ffe8536b0" class="div-block-766">
                <a href="#" aria-expanded="false" role="button" class="accordion_title-wrapper w-inline-block">
                  <div class="accordion_title-2">Home</div><img loading="lazy" src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689/68dbd387397174a96084d418_arrow-right-s-line.svg" alt="" class="accordion_arrow">
                </a>
                <div class="navigation-divider">
                  <div class="navigation-line dark-120"></div>
                </div>
                <ul role="list" class="accordion_list-wrapper w-list-unstyled">
                  <li class="accordion_item-wrapper">
                    <div data-click="accordion" role="region" data-w-id="d154b648-44c2-f1da-0c23-bc03a74c9569" class="accordion_item-2">
                      <a aria-expanded="false" role="button" href="#" class="accordion_title-wrapper-3 w-inline-block">
                        <div class="accordion_title-2">Courses</div><img loading="lazy" src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689/68dbd387397174a96084d414_arrow-down-s-line.svg" alt="" class="accordion_arrow">
                      </a>
                      <div aria-hidden="true" class="accordion_description-wrapper-2">
                        <div class="_1rem-spacer"></div>
                        <div class="promo-container-2">
                          <a href="#" class="card-rollover w-inline-block">
                            <div class="places-card_image-wrap"><img sizes="(max-width: 1439px) 100vw, 1440.0001220703125px" srcset="{{ 'lashnation.au_1758169646_3724119376317747766_13575537128_1lashnation.au_1758169646_3724119376317747766_13575537128.avif' | asset_url }} 500w, {{ 'lashnation.au_1758169646_3724119376317747766_13575537128_1lashnation.au_1758169646_3724119376317747766_13575537128.avif' | asset_url }} 800w, {{ 'lashnation.au_1758169646_3724119376317747766_13575537128_1lashnation.au_1758169646_3724119376317747766_13575537128.avif' | asset_url }} 1440w" alt="" loading="lazy" src="{{ 'lashnation.au_1758169646_3724119376317747766_13575537128_1lashnation.au_1758169646_3724119376317747766_13575537128.avif' | asset_url }}" class="image-56"></div>
                            <div class="places-card_image-overlay-2"></div>
                            <div class="places-card_content">
                              <div class="places-card_heading-text-2">Group Courses</div>
                              <div class="places-card_desc-wrap">
                                <p class="places-card_desc-text">Hands-On Training with Live Models in a Supportive Group Setting.</p>
                              </div>
                            </div>
                          </a>
                          <a href="#" class="card-rollover w-inline-block">
                            <div class="places-card_image-wrap"><img sizes="100vw" srcset="{{ 'Private-Lash-Course_1Private-Lash-Course.avif' | asset_url }} 500w, {{ 'Private-Lash-Course_1Private-Lash-Course.avif' | asset_url }} 1080w" alt="" loading="lazy" src="{{ 'Private-Lash-Course_1Private-Lash-Course.avif' | asset_url }}" class="image-56"></div>
                            <div class="places-card_image-overlay-2"></div>
                            <div class="places-card_content">
                              <div class="places-card_heading-text-2">Private Courses</div>
                              <div class="places-card_desc-wrap">
                                <p class="places-card_desc-text">Hands on training with live models in a one-on-one setting</p>
                              </div>
                            </div>
                          </a>
                          <a href="#" class="card-rollover w-inline-block">
                            <div class="places-card_image-wrap"><img data-w-id="d154b648-44c2-f1da-0c23-bc03a74c9587" sizes="100vw" alt="" loading="lazy" src="{{ 'Group-Lash-Course_1Group-Lash-Course.avif' | asset_url }}" srcset="{{ 'Group-Lash-Course_1Group-Lash-Course.avif' | asset_url }} 500w, {{ 'Group-Lash-Course_1Group-Lash-Course.avif' | asset_url }} 1080w" class="image-56"></div>
                            <div class="places-card_image-overlay-2"></div>
                            <div class="places-card_content">
                              <div class="places-card_heading-text-2">Online Courses</div>
                              <div class="places-card_desc-wrap">
                                <p class="places-card_desc-text">Learn anytime, anywhere — with full support.</p>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="navigation-divider dark-119">
                  <div class="navigation-line dark-120"></div>
                </div>
                <a href="#" aria-expanded="false" role="button" class="accordion_title-wrapper w-inline-block">
                  <div class="accordion_title-2">Reviews</div><img loading="lazy" src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689/68dbd387397174a96084d418_arrow-right-s-line.svg" alt="" class="accordion_arrow">
                </a>
                <div class="navigation-divider dark-119">
                  <div class="navigation-line dark-120"></div>
                </div>
                <ul role="list" class="accordion_list-wrapper w-list-unstyled">
                  <li class="accordion_item-wrapper">
                    <div data-click="accordion" role="region" data-w-id="d154b648-44c2-f1da-0c23-bc03a74c9599" class="accordion_item-2">
                      <a aria-expanded="false" role="button" href="#" class="accordion_title-wrapper-3 w-inline-block">
                        <div class="accordion_title-2">About</div><img loading="lazy" src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689/68dbd387397174a96084d414_arrow-down-s-line.svg" alt="" class="accordion_arrow">
                      </a>
                      <div aria-hidden="true" class="accordion_description-wrapper-2">
                        <div class="_1rem-spacer"></div>
                        <div class="_2rem-spacer"></div>
                        <div class="div-block-588">
                          <a href="#" class="accordion_title-wrapper w-inline-block">
                            <div class="accordion_title-2">About Us</div><img loading="lazy" src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689/68dbd387397174a96084d418_arrow-right-s-line.svg" alt="" class="accordion_arrow">
                          </a>
                          <a href="#" class="accordion_title-wrapper w-inline-block">
                            <div class="accordion_title-2">Success Stories</div><img loading="lazy" src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689/68dbd387397174a96084d418_arrow-right-s-line.svg" alt="" class="accordion_arrow">
                          </a>
                          <a href="#" class="accordion_title-wrapper w-inline-block">
                            <div class="accordion_title-2">Meet The Team</div><img loading="lazy" src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689/68dbd387397174a96084d418_arrow-right-s-line.svg" alt="" class="accordion_arrow">
                          </a>
                          <a href="#" aria-expanded="false" role="button" class="accordion_title-wrapper w-inline-block">
                            <div class="accordion_title-2">Qualification</div><img loading="lazy" src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689/68dbd387397174a96084d418_arrow-right-s-line.svg" alt="" class="accordion_arrow">
                          </a>
                          <a href="#" aria-expanded="false" role="button" class="accordion_title-wrapper w-inline-block">
                            <div class="accordion_title-2">Refer A Friend</div><img loading="lazy" src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689/68dbd387397174a96084d418_arrow-right-s-line.svg" alt="" class="accordion_arrow">
                          </a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="navigation-divider dark-119">
                  <div class="navigation-line dark-120"></div>
                </div>
                <a href="#" aria-expanded="false" role="button" class="accordion_title-wrapper w-inline-block">
                  <div class="accordion_title-2">Contact</div><img loading="lazy" src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689/68dbd387397174a96084d418_arrow-right-s-line.svg" alt="" class="accordion_arrow">
                </a>
                <div class="navigation-divider dark-119">
                  <div class="navigation-line dark-120"></div>
                </div>
                <div bind="63674141-9ca1-0af9-59df-f526ad09f5e4" class="button-wrapper-2">
                  <a href="#" data-w-id="d154b648-44c2-f1da-0c23-bc03a74c95bf" class="button-16 w-inline-block">
                    <div class="btn-txt-container">
                      <div class="btn-txt">View Courses</div>
                      <div class="btn-txt">View Courses</div>
                    </div>
                  </a>
                </div>
                <div bind="c66b9c39-a1f4-d2fe-191e-d628d63d46c4" class="w-layout-grid social-grid-2 large">
                  <a href="https://www.facebook.com/p/Lash-Nation-Supplies-100063464256875/" target="_blank" class="social-icons large-8 w-inline-block">
                    <div bind="c66b9c39-a1f4-d2fe-191e-d628d63d46c6" class="social-logo large-3 w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 13.5H16.5L17.5 9.5H14V7.5C14 6.47 14 5.5 16 5.5H17.5V2.14C17.174 2.097 15.943 2 14.643 2C11.928 2 10 3.657 10 6.7V9.5H7V13.5H10V22H14V13.5Z" fill="currentColor"></path>
                      </svg></div>
                  </a>
                  <a href="https://www.instagram.com/Lashnation.au/" target="_blank" class="social-icons large-8 w-inline-block">
                    <div bind="c66b9c39-a1f4-d2fe-191e-d628d63d46c8" class="social-logo large-3 xs-9 large-9 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewbox="0 0 24 25" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3.57605H8C5.23858 3.57605 3 5.81463 3 8.57605V16.576C3 19.3375 5.23858 21.576 8 21.576H16C18.7614 21.576 21 19.3375 21 16.576V8.57605C21 5.81463 18.7614 3.57605 16 3.57605ZM19.25 16.576C19.2445 18.3686 17.7926 19.8205 16 19.826H8C6.20735 19.8205 4.75549 18.3686 4.75 16.576V8.57605C4.75549 6.7834 6.20735 5.33154 8 5.32605H16C17.7926 5.33154 19.2445 6.7834 19.25 8.57605V16.576ZM16.75 8.82605C17.3023 8.82605 17.75 8.37833 17.75 7.82605C17.75 7.27377 17.3023 6.82605 16.75 6.82605C16.1977 6.82605 15.75 7.27377 15.75 7.82605C15.75 8.37833 16.1977 8.82605 16.75 8.82605ZM12 8.07605C9.51472 8.07605 7.5 10.0908 7.5 12.576C7.5 15.0613 9.51472 17.076 12 17.076C14.4853 17.076 16.5 15.0613 16.5 12.576C16.5027 11.3817 16.0294 10.2356 15.1849 9.39113C14.3404 8.54664 13.1943 8.07339 12 8.07605ZM9.25 12.576C9.25 14.0948 10.4812 15.326 12 15.326C13.5188 15.326 14.75 14.0948 14.75 12.576C14.75 11.0573 13.5188 9.82605 12 9.82605C10.4812 9.82605 9.25 11.0573 9.25 12.576Z" fill="currentColor"></path>
                      </svg></div>
                  </a>
                  <a href="https://www.tiktok.com/@lashnationsupplies" target="_blank" class="social-icons large-8 w-inline-block">
                    <div bind="c66b9c39-a1f4-d2fe-191e-d628d63d46d2" class="social-logo large-3 xs-9 large-9 w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" width="20" height="20"><!-- !Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc. -->
                        <path d="M448 209.9a210.1 210.1 0 0 1 -122.8-39.3V349.4A162.6 162.6 0 1 1 185 188.3V278.2a74.6 74.6 0 1 0 52.2 71.2V0l88 0a121.2 121.2 0 0 0 1.9 22.2h0A122.2 122.2 0 0 0 381 102.4a121.4 121.4 0 0 0 67 20.1z" fill="currentColor"></path>
                      </svg></div>
                  </a>
                </div>
              </div>
              <div class="_8rem-spacer"></div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Header",
    "class": "section_navbar",
    "settings": [
        {
            "id": "image_white_logo",
            "type": "image_picker",
            "label": "White Logo"
        }
    ],
    "presets": [
        {
            "name": "Header",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "groups": [
            "*"
        ]
    }
} {% endschema %}