<div class="padding-global-7">
          <div class="container-large-15">
            <div class="layout414_component">
              <div class="_2rem-spacer"></div>
              <div data-w-id="3b0a6a94-267a-8992-05a1-55d634b05f16" class="layout414_content-bottom">
                <div class="layout414_image-list image-list-top">
                  <div id="w-node-_3b0a6a94-267a-8992-05a1-55d634b05f18-34b05f11" class="layout414_image-wrapper-2">{% if section.settings.image_image_1 %}
{{ section.settings.image_image_1 | image_url: width: 500 | image_tag: id: 'w-node-_3b0a6a94-267a-8992-05a1-55d634b05f19-34b05f11', loading: 'lazy', class: 'layout414_image-2' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image-2' }} 
{% endif %}</div>
                  <div id="w-node-_3b0a6a94-267a-8992-05a1-55d634b05f1a-34b05f11" class="layout414_image-wrapper-2">{% if section.settings.image_image_2 %}
{{ section.settings.image_image_2 | image_url: width: 500 | image_tag: id: 'w-node-_3b0a6a94-267a-8992-05a1-55d634b05f1b-34b05f11', loading: 'lazy', class: 'layout414_image-2' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image-2' }} 
{% endif %}</div>
                  <div id="w-node-_3b0a6a94-267a-8992-05a1-55d634b05f1c-34b05f11" class="layout414_image-wrapper-2">{% if section.settings.image_image_3 %}
{{ section.settings.image_image_3 | image_url: width: 500 | image_tag: id: 'w-node-_3b0a6a94-267a-8992-05a1-55d634b05f1d-34b05f11', loading: 'lazy', class: 'layout414_image-2' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image-2' }} 
{% endif %}</div>
                  <div id="w-node-_3b0a6a94-267a-8992-05a1-55d634b05f1e-34b05f11" class="layout414_image-wrapper-2">{% if section.settings.image_image_4 %}
{{ section.settings.image_image_4 | image_url: width: 500 | image_tag: id: 'w-node-_3b0a6a94-267a-8992-05a1-55d634b05f1f-34b05f11', loading: 'lazy', class: 'layout414_image-2' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image-2' }} 
{% endif %}</div>
                </div>
                <div class="layout414_image-list image-list-bottom">
                  <div id="w-node-_3b0a6a94-267a-8992-05a1-55d634b05f21-34b05f11" class="layout414_image-wrapper-2">{% if section.settings.image_image_5 %}
{{ section.settings.image_image_5 | image_url: width: 500 | image_tag: id: 'w-node-_3b0a6a94-267a-8992-05a1-55d634b05f22-34b05f11', loading: 'lazy', class: 'layout414_image-2' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image-2' }} 
{% endif %}</div>
                  <div id="w-node-_3b0a6a94-267a-8992-05a1-55d634b05f23-34b05f11" class="layout414_image-wrapper-2">{% if section.settings.image_image_6 %}
{{ section.settings.image_image_6 | image_url: width: 500 | image_tag: id: 'w-node-_3b0a6a94-267a-8992-05a1-55d634b05f24-34b05f11', loading: 'lazy', class: 'layout414_image-2' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image-2' }} 
{% endif %}</div>
                  <div id="w-node-_3b0a6a94-267a-8992-05a1-55d634b05f25-34b05f11" class="layout414_image-wrapper-2">{% if section.settings.image_image_7 %}
{{ section.settings.image_image_7 | image_url: width: 500 | image_tag: id: 'w-node-_3b0a6a94-267a-8992-05a1-55d634b05f26-34b05f11', loading: 'lazy', class: 'layout414_image-2' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image-2' }} 
{% endif %}</div>
                  <div id="w-node-_3b0a6a94-267a-8992-05a1-55d634b05f27-34b05f11" class="layout414_image-wrapper-2">{% if section.settings.image_image_8 %}
{{ section.settings.image_image_8 | image_url: width: 500 | image_tag: id: 'w-node-_3b0a6a94-267a-8992-05a1-55d634b05f28-34b05f11', loading: 'lazy', class: 'layout414_image-2' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'layout414_image-2' }} 
{% endif %}</div>
                </div>
              </div>
              <div class="_2rem-spacer"></div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Marquee Scroll",
    "class": "section_layout414",
    "settings": [
        {
            "id": "image_image_1",
            "type": "image_picker",
            "label": "Image-1"
        },
        {
            "id": "image_image_2",
            "type": "image_picker",
            "label": "Image-2"
        },
        {
            "id": "image_image_3",
            "type": "image_picker",
            "label": "Image-3"
        },
        {
            "id": "image_image_4",
            "type": "image_picker",
            "label": "Image-4"
        },
        {
            "id": "image_image_5",
            "type": "image_picker",
            "label": "Image-5"
        },
        {
            "id": "image_image_6",
            "type": "image_picker",
            "label": "Image-6"
        },
        {
            "id": "image_image_7",
            "type": "image_picker",
            "label": "Image-7"
        },
        {
            "id": "image_image_8",
            "type": "image_picker",
            "label": "Image-8"
        }
    ],
    "presets": [
        {
            "name": "Marquee Scroll",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}