<div class="container-x-small-2">
          <div class="column-large-2 column-center">
            <div data-w-id="52234a6e-c4e8-a635-e545-a44bfb26dc1d" style="opacity:0" class="heading-style-h2-6 text-color-white">Everything you need to launch your Lash Career</div>
            <div data-w-id="52234a6e-c4e8-a635-e545-a44bfb26dc1f" style="opacity:0">
              <div bind="63674141-9ca1-0af9-59df-f526ad09f5e4" class="button-wrapper-2">
                <a href="#" data-w-id="52234a6e-c4e8-a635-e545-a44bfb26dc21" class="button-32 w-inline-block">
                  <div class="btn-txt-container">
                    <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="btn-txt">View Courses</div>
                    <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="btn-txt">View Courses</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="container-large relative-2">
          <div data-w-id="52234a6e-c4e8-a635-e545-a44bfb26dc28" style="opacity:0" class="w-layout-grid video-grid">
            <a href="#" class="video-card w-inline-block">
              <div class="icon-regular w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor">
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path d="M12 1L20.2169 2.82598C20.6745 2.92766 21 3.33347 21 3.80217V13.7889C21 15.795 19.9974 17.6684 18.3282 18.7812L12 23L5.6718 18.7812C4.00261 17.6684 3 15.795 3 13.7889V3.80217C3 3.33347 3.32553 2.92766 3.78307 2.82598L12 1ZM12 3.04879L5 4.60434V13.7889C5 15.1263 5.6684 16.3752 6.7812 17.1171L12 20.5963L17.2188 17.1171C18.3316 16.3752 19 15.1263 19 13.7889V4.60434L12 3.04879ZM16.4524 8.22183L17.8666 9.63604L11.5026 16L7.25999 11.7574L8.67421 10.3431L11.5019 13.1709L16.4524 8.22183Z"></path>
                </svg></div>
              <h5>Payment plans available</h5>
              <div class="paragraph-small">Study now pay later</div>
            </a>
            <div class="video-card">
              <div class="icon-regular w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor">
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path d="M12 1L20.2169 2.82598C20.6745 2.92766 21 3.33347 21 3.80217V13.7889C21 15.795 19.9974 17.6684 18.3282 18.7812L12 23L5.6718 18.7812C4.00261 17.6684 3 15.795 3 13.7889V3.80217C3 3.33347 3.32553 2.92766 3.78307 2.82598L12 1ZM12 3.04879L5 4.60434V13.7889C5 15.1263 5.6684 16.3752 6.7812 17.1171L12 20.5963L17.2188 17.1171C18.3316 16.3752 19 15.1263 19 13.7889V4.60434L12 3.04879ZM16.4524 8.22183L17.8666 9.63604L11.5026 16L7.25999 11.7574L8.67421 10.3431L11.5019 13.1709L16.4524 8.22183Z"></path>
                </svg></div>
              <h5>Certificate of completion</h5>
              <div class="paragraph-small-7">Accredited & Industry recognised</div>
            </div>
            <div class="video-card">
              <div class="icon-regular w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor">
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path d="M12 1L20.2169 2.82598C20.6745 2.92766 21 3.33347 21 3.80217V13.7889C21 15.795 19.9974 17.6684 18.3282 18.7812L12 23L5.6718 18.7812C4.00261 17.6684 3 15.795 3 13.7889V3.80217C3 3.33347 3.32553 2.92766 3.78307 2.82598L12 1ZM12 3.04879L5 4.60434V13.7889C5 15.1263 5.6684 16.3752 6.7812 17.1171L12 20.5963L17.2188 17.1171C18.3316 16.3752 19 15.1263 19 13.7889V4.60434L12 3.04879ZM16.4524 8.22183L17.8666 9.63604L11.5026 16L7.25999 11.7574L8.67421 10.3431L11.5019 13.1709L16.4524 8.22183Z"></path>
                </svg></div>
              <h5>Flexible Learning options</h5>
              <div class="paragraph-small-7">In-salon & Online available</div>
            </div>
            <div class="video-card">
              <div class="icon-regular w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor">
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path d="M12 1L20.2169 2.82598C20.6745 2.92766 21 3.33347 21 3.80217V13.7889C21 15.795 19.9974 17.6684 18.3282 18.7812L12 23L5.6718 18.7812C4.00261 17.6684 3 15.795 3 13.7889V3.80217C3 3.33347 3.32553 2.92766 3.78307 2.82598L12 1ZM12 3.04879L5 4.60434V13.7889C5 15.1263 5.6684 16.3752 6.7812 17.1171L12 20.5963L17.2188 17.1171C18.3316 16.3752 19 15.1263 19 13.7889V4.60434L12 3.04879ZM16.4524 8.22183L17.8666 9.63604L11.5026 16L7.25999 11.7574L8.67421 10.3431L11.5019 13.1709L16.4524 8.22183Z"></path>
                </svg></div>
              <h5>$600 Lash kit included</h5>
              <div class="paragraph-small-7">All the products you need to train</div>
            </div>
            <div class="video-card">
              <div class="icon-regular w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor">
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path d="M12 1L20.2169 2.82598C20.6745 2.92766 21 3.33347 21 3.80217V13.7889C21 15.795 19.9974 17.6684 18.3282 18.7812L12 23L5.6718 18.7812C4.00261 17.6684 3 15.795 3 13.7889V3.80217C3 3.33347 3.32553 2.92766 3.78307 2.82598L12 1ZM12 3.04879L5 4.60434V13.7889C5 15.1263 5.6684 16.3752 6.7812 17.1171L12 20.5963L17.2188 17.1171C18.3316 16.3752 19 15.1263 19 13.7889V4.60434L12 3.04879ZM16.4524 8.22183L17.8666 9.63604L11.5026 16L7.25999 11.7574L8.67421 10.3431L11.5019 13.1709L16.4524 8.22183Z"></path>
                </svg></div>
              <h5>Life time educator support</h5>
              <div class="paragraph-small-7">Ongoing support post course</div>
            </div>
            <div class="video-card">
              <div class="icon-regular w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor">
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path d="M12 1L20.2169 2.82598C20.6745 2.92766 21 3.33347 21 3.80217V13.7889C21 15.795 19.9974 17.6684 18.3282 18.7812L12 23L5.6718 18.7812C4.00261 17.6684 3 15.795 3 13.7889V3.80217C3 3.33347 3.32553 2.92766 3.78307 2.82598L12 1ZM12 3.04879L5 4.60434V13.7889C5 15.1263 5.6684 16.3752 6.7812 17.1171L12 20.5963L17.2188 17.1171C18.3316 16.3752 19 15.1263 19 13.7889V4.60434L12 3.04879ZM16.4524 8.22183L17.8666 9.63604L11.5026 16L7.25999 11.7574L8.67421 10.3431L11.5019 13.1709L16.4524 8.22183Z"></path>
                </svg></div>
              <h5>5 Star student experiences</h5>
              <div class="paragraph-small-7">Hundreds of real reviews & success stories</div>
            </div>
          </div>
        </div>
        <div class="video-background"><img loading="lazy" src="https://cdn.prod.website-files.com/678ebf3621548846c092e437/68ba339be43ab533b6b405a9_Video%20Line%20Stroke.svg" alt="" class="video-lines">
          <div class="video-overlay"></div><img sizes="(max-width: 1919px) 100vw, 1800.0001220703125px" srcset="{{ 'Lash-Nation-Collage-p-500.jpg' | asset_url }} 500w, {{ 'Lash-Nation-Collage-p-800.jpg' | asset_url }} 800w, {{ 'Lash-Nation-Collage-p-1080.jpg' | asset_url }} 1080w, {{ 'Lash-Nation-Collage-p-1600.jpg' | asset_url }} 1600w, {{ 'Lash-Nation-Collage.jpg' | asset_url }} 1800w" alt="" src="{{ 'Lash-Nation-Collage.jpg' | asset_url }}" loading="lazy" class="video-thumbnail">
        </div> {% schema %} {
    "tag": "div",
    "name": "USP Grid",
    "class": "image-bg-section",
    "presets": [
        {
            "name": "USP Grid",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}