<div class="header-slide_wrap">
          <div class="header-slider swiper">
            <div class="header-slider-list swiper-wrapper">
              <div class="header-slide-2 swiper-slide">
                <div class="hero-slide-content_layout-2 is-centered">
                  <div class="slider-background_wrap">
                    <div data-poster-url="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F68fe753d6bdf371d941627de_Lash%20education%20video%20%281%29-poster-00001.jpg" data-video-urls="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F68fe753d6bdf371d941627de_Lash%20education%20video%20%281%29-transcode.mp4,https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F68fe753d6bdf371d941627de_Lash%20education%20video%20%281%29-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="slider-background-image desktop w-background-video w-background-video-atom"><video id="df33e776-d365-40f6-0eca-71ae7b60bc75-video" autoplay="" loop="" style="background-image:url("https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F68fe753d6bdf371d941627de_Lash%20education%20video%20%281%29-poster-00001.jpg")" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                        <source src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F68fe753d6bdf371d941627de_Lash%20education%20video%20%281%29-transcode.mp4" data-wf-ignore="true"></video><noscript>
                        <style>
  [data-wf-bgvideo-fallback-img] {
    display: none;
  }
  @media (prefers-reduced-motion: reduce) {
    [data-wf-bgvideo-fallback-img] {
      position: absolute;
      z-index: -100;
      display: inline-block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }</style><img data-wf-bgvideo-fallback-img="true" src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F68fe753d6bdf371d941627de_Lash%20education%20video%20%281%29-poster-00001.jpg" alt="">
                      </noscript>
                      <div aria-live="polite"><button type="button" data-w-bg-video-control="true" aria-controls="df33e776-d365-40f6-0eca-71ae7b60bc75-video" class="w-backgroundvideo-backgroundvideoplaypausebutton w-background-video--control"><span><img loading="lazy" src="https://uploads-ssl.webflow.com/6022af993a6b2191db3ed10c/628299f8aa233b83918e24fd_Pause.svg" alt="Pause video"></span><span hidden=""><img loading="lazy" src="https://uploads-ssl.webflow.com/6022af993a6b2191db3ed10c/628298b20ae0236682d4b87f_Play-24.svg" alt="Play video"></span></button></div>
                    </div>
                    <div data-poster-url="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F6900c4aa1182ce3404168eee_Hero%20Mobile%20V2-poster-00001.jpg" data-video-urls="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F6900c4aa1182ce3404168eee_Hero%20Mobile%20V2-transcode.mp4,https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F6900c4aa1182ce3404168eee_Hero%20Mobile%20V2-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="slider-background-image mobile w-background-video w-background-video-atom"><video id="df33e776-d365-40f6-0eca-71ae7b60bc7b-video" autoplay="" loop="" style="background-image:url("https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F6900c4aa1182ce3404168eee_Hero%20Mobile%20V2-poster-00001.jpg")" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                        <source src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F6900c4aa1182ce3404168eee_Hero%20Mobile%20V2-transcode.mp4" data-wf-ignore="true"></video><noscript>
                        <style>
  [data-wf-bgvideo-fallback-img] {
    display: none;
  }
  @media (prefers-reduced-motion: reduce) {
    [data-wf-bgvideo-fallback-img] {
      position: absolute;
      z-index: -100;
      display: inline-block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }</style><img data-wf-bgvideo-fallback-img="true" src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F6900c4aa1182ce3404168eee_Hero%20Mobile%20V2-poster-00001.jpg" alt="">
                      </noscript>
                      <div aria-live="polite"><button type="button" data-w-bg-video-control="true" aria-controls="df33e776-d365-40f6-0eca-71ae7b60bc7b-video" class="w-backgroundvideo-backgroundvideoplaypausebutton w-background-video--control"><span><img loading="lazy" src="https://uploads-ssl.webflow.com/6022af993a6b2191db3ed10c/628299f8aa233b83918e24fd_Pause.svg" alt="Pause video"></span><span hidden=""><img loading="lazy" src="https://uploads-ssl.webflow.com/6022af993a6b2191db3ed10c/628298b20ae0236682d4b87f_Play-24.svg" alt="Play video"></span></button></div>
                    </div>
                  </div>
                  <div class="slider-background-image-overlay-2"></div>
                  <div class="typo-zoom-text-wrapper-2 centre">
                    <div li-content-for-blocks="" class="centre-slide">
{% for block in section.blocks %}
{% case block.type %}
{% when '@app' %}
{% render block %}

                      {% when 'google-badge' %}
            <div li-block="Google Badge" class="content_block">
                    
                        
                    {% when 'review-badge' %}
            <div li-block="Review Badge" class="content_block">
                    
                          
                    <div class="footer-rating">
                            <div class="google-logo w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
                                <path d="M7.22694 13.7887L6.63022 16.0163L4.44924 16.0625C3.79744 14.8535 3.42773 13.4704 3.42773 12.0005C3.42773 10.5792 3.7734 9.2388 4.38612 8.05859H4.38659L6.32828 8.41457L7.17886 10.3446C7.00083 10.8636 6.9038 11.4208 6.9038 12.0005C6.90387 12.6297 7.01784 13.2325 7.22694 13.7887Z" fill="#FBBB00"></path>
                                <path d="M20.4207 10.3994C20.5191 10.9179 20.5705 11.4534 20.5705 12.0007C20.5705 12.6143 20.5059 13.2129 20.383 13.7903C19.9658 15.7551 18.8755 17.4708 17.3652 18.6849L17.3647 18.6845L14.919 18.5597L14.5729 16.3989C15.5751 15.8112 16.3583 14.8914 16.7709 13.7903H12.1875V10.3994H16.8377H20.4207Z" fill="#518EF8"></path>
                                <path d="M17.3647 18.6846L17.3652 18.6851C15.8963 19.8658 14.0303 20.5722 11.9991 20.5722C8.73491 20.5722 5.89695 18.7477 4.44922 16.0628L7.22692 13.7891C7.95077 15.7209 9.81434 17.0961 11.9991 17.0961C12.9382 17.0961 13.8179 16.8423 14.5729 16.3991L17.3647 18.6846Z" fill="#28B446"></path>
                                <path d="M17.4689 5.40201L14.6921 7.6753C13.9108 7.18693 12.9872 6.90481 11.9978 6.90481C9.76355 6.90481 7.86512 8.3431 7.17753 10.3442L4.38523 8.0582H4.38477C5.8113 5.30782 8.68506 3.42871 11.9978 3.42871C14.0775 3.42871 15.9844 4.16953 17.4689 5.40201Z" fill="#F14336"></path>
                              </svg></div>
                            <div>Google Review</div>
                            <div class="video-stars"><img loading="lazy" src="{{ 'star-fill.svg' | asset_url }}" alt="" class="video-star"><img loading="lazy" src="{{ 'star-fill.svg' | asset_url }}" alt="" class="video-star"><img loading="lazy" src="{{ 'star-fill.svg' | asset_url }}" alt="" class="video-star"><img loading="lazy" src="{{ 'star-fill.svg' | asset_url }}" alt="" class="video-star"><img loading="lazy" src="{{ 'star-fill.svg' | asset_url }}" alt="" class="video-star"></div>
                            <div class="google-text">
                              <div class="google-text"><span class="_4-9-5---from-12k-reviews-0">5.0</span><span class="_4-9-5---from-12k-reviews-1">/5 - 160+ Reviews</span></div>
                            </div>
                          </div>
                    
                        
                </div>
                    
                      
                </div>
                      {% when 'headline' %}
            <div li-block="Headline" class="content_block">
                    
                        
                    <h1 class="hero-title">
{{ block.settings.text_heading }}
</h1>
                    
                      
                </div>
                      <div headline="Paragraph" class="content_block">
                        <div class="paragraph-x-large"> {{ section.settings.richtext_text }} </div>
                      </div>
                      {% when 'buttons' %}
            <div li-block="Buttons" class="content_block">
                    
                        
                    <div class="button-group-10">
                          {% if block.settings.url_button_link %}    <div li-if="block.settings.url_button_link" class="content_block">
    
                            <a href="{{ block.settings.url_button_link }}" data-wf--button--variant="base" data-w-id="47ee13e6-1a71-57c3-88e5-9d80ec55d256" class="button w-inline-block"> <div class="btn-txt-container"> <div class="btn-txt">{{ block.settings.text_button_text }}</div> <div class="btn-txt">{{ block.settings.text_button_text }}</div> </div> </a>
                              </div>
{% endif %}
                          {% if block.settings.url_button_link_2 %}    <div li-if="block.settings.url_button_link_2" class="content_block">
    
                            <a href="{{ block.settings.url_button_link_2 }}" data-w-id="4ff91505-98c2-5b78-4b62-896907b5c4b0" class="button secondary-white w-inline-block"> <div class="btn-txt-container secondary-white-2"> <div class="btn-txt secondary-white-4">{{ block.settings.text_button_text_2 }}</div> <div class="btn-txt secondary-white-4">{{ block.settings.text_button_text_2 }}</div> </div> </a>
                              </div>
{% endif %}
                        </div>
                    
                      
                </div>
                    {% endcase %}
{% endfor %}

    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Video Hero",
    "class": "header-slider-section-2",
    "blocks": [
        {
            "name": "Google Badge",
            "type": "google-badge",
            "settings": null
        },
        {
            "name": "Review Badge",
            "type": "review-badge",
            "settings": null
        },
        {
            "name": "Headline",
            "type": "headline",
            "settings": [
                {
                    "id": "text_heading",
                    "type": "text",
                    "label": "Heading",
                    "default": "Become a Qualified Lash Extension Artist<br\/>"
                }
            ]
        },
        {
            "name": "Buttons",
            "type": "buttons",
            "settings": [
                {
                    "id": "url_button_link",
                    "type": "url",
                    "label": "Button Link"
                },
                {
                    "id": "text_button_text",
                    "type": "text",
                    "label": "Button Text",
                    "default": "View Courses"
                },
                {
                    "id": "url_button_link_2",
                    "type": "url",
                    "label": "Button Link 2"
                },
                {
                    "id": "text_button_text_2",
                    "type": "text",
                    "label": "Button Text 2",
                    "default": "Contact"
                }
            ]
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "id": "richtext_text",
            "type": "richtext",
            "label": "Text",
            "default": "<p>Accelerate your Certification &amp; Confidence with an academy dedicated <strong>exclusively to the Lash Extension Industry.<\/strong><\/p>"
        }
    ],
    "presets": [
        {
            "name": "Video Hero",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "google-badge"
                },
                {
                    "type": "review-badge"
                },
                {
                    "type": "headline"
                },
                {
                    "type": "buttons"
                }
            ]
        }
    ]
} {% endschema %}