<div class="header-slide_wrap">
          <div class="header-slider swiper">
            <div class="header-slider-list swiper-wrapper">
              <div class="header-slide-2 swiper-slide">
                <div class="hero-slide-content_layout-2 is-centered">
                  <div class="slider-background_wrap">
                    <div data-poster-url="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F68fe753d6bdf371d941627de_Lash%20education%20video%20%281%29-poster-00001.jpg" data-video-urls="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F68fe753d6bdf371d941627de_Lash%20education%20video%20%281%29-transcode.mp4,https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F68fe753d6bdf371d941627de_Lash%20education%20video%20%281%29-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="slider-background-image desktop w-background-video w-background-video-atom"><video id="df33e776-d365-40f6-0eca-71ae7b60bc75-video" autoplay="" loop="" style="background-image:url("https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F68fe753d6bdf371d941627de_Lash%20education%20video%20%281%29-poster-00001.jpg")" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                        <source src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F68fe753d6bdf371d941627de_Lash%20education%20video%20%281%29-transcode.mp4" data-wf-ignore="true"></video><noscript>
                        <style>
  [data-wf-bgvideo-fallback-img] {
    display: none;
  }
  @media (prefers-reduced-motion: reduce) {
    [data-wf-bgvideo-fallback-img] {
      position: absolute;
      z-index: -100;
      display: inline-block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }</style><img data-wf-bgvideo-fallback-img="true" src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F68fe753d6bdf371d941627de_Lash%20education%20video%20%281%29-poster-00001.jpg" alt="">
                      </noscript>
                      <div aria-live="polite"><button type="button" data-w-bg-video-control="true" aria-controls="df33e776-d365-40f6-0eca-71ae7b60bc75-video" class="w-backgroundvideo-backgroundvideoplaypausebutton w-background-video--control"><span><img loading="lazy" src="https://uploads-ssl.webflow.com/6022af993a6b2191db3ed10c/628299f8aa233b83918e24fd_Pause.svg" alt="Pause video"></span><span hidden=""><img loading="lazy" src="https://uploads-ssl.webflow.com/6022af993a6b2191db3ed10c/628298b20ae0236682d4b87f_Play-24.svg" alt="Play video"></span></button></div>
                    </div>
                    <div data-poster-url="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F6900c4aa1182ce3404168eee_Hero%20Mobile%20V2-poster-00001.jpg" data-video-urls="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F6900c4aa1182ce3404168eee_Hero%20Mobile%20V2-transcode.mp4,https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F6900c4aa1182ce3404168eee_Hero%20Mobile%20V2-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="slider-background-image mobile w-background-video w-background-video-atom"><video id="df33e776-d365-40f6-0eca-71ae7b60bc7b-video" autoplay="" loop="" style="background-image:url("https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F6900c4aa1182ce3404168eee_Hero%20Mobile%20V2-poster-00001.jpg")" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                        <source src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F6900c4aa1182ce3404168eee_Hero%20Mobile%20V2-transcode.mp4" data-wf-ignore="true"></video><noscript>
                        <style>
  [data-wf-bgvideo-fallback-img] {
    display: none;
  }
  @media (prefers-reduced-motion: reduce) {
    [data-wf-bgvideo-fallback-img] {
      position: absolute;
      z-index: -100;
      display: inline-block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }</style><img data-wf-bgvideo-fallback-img="true" src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F6900c4aa1182ce3404168eee_Hero%20Mobile%20V2-poster-00001.jpg" alt="">
                      </noscript>
                      <div aria-live="polite"><button type="button" data-w-bg-video-control="true" aria-controls="df33e776-d365-40f6-0eca-71ae7b60bc7b-video" class="w-backgroundvideo-backgroundvideoplaypausebutton w-background-video--control"><span><img loading="lazy" src="https://uploads-ssl.webflow.com/6022af993a6b2191db3ed10c/628299f8aa233b83918e24fd_Pause.svg" alt="Pause video"></span><span hidden=""><img loading="lazy" src="https://uploads-ssl.webflow.com/6022af993a6b2191db3ed10c/628298b20ae0236682d4b87f_Play-24.svg" alt="Play video"></span></button></div>
                    </div>
                  </div>
                  <div class="slider-background-image-overlay-2"></div>
                  <div class="typo-zoom-text-wrapper-2 centre">
                    <div li-content-for-blocks="" class="centre-slide">
{% for block in section.blocks %}
{% case block.type %}
{% when '@app' %}
{% render block %}

                      {% when 'headline' %}
            <div li-block="Headline" class="content_block">
                    
                        
                    <h1 class="hero-title">
{{ block.settings.text_heading }}
</h1>
                    
                      
                </div>
                      <div headline="Paragraph" class="content_block">
                        <div class="paragraph-x-large"> {{ section.settings.richtext_text }} </div>
                      </div>
                      {% when 'buttons' %}
            <div li-block="Buttons" class="content_block">
                    
                        
                    <div class="button-group-10">
                          {% if block.settings.url_button_link %}    <div li-if="block.settings.url_button_link" class="content_block">
    
                            <a href="{{ block.settings.url_button_link }}" data-wf--button--variant="base" data-w-id="47ee13e6-1a71-57c3-88e5-9d80ec55d256" class="button w-inline-block"> <div class="btn-txt-container"> <div class="btn-txt">{{ block.settings.text_button_text }}</div> <div class="btn-txt">{{ block.settings.text_button_text }}</div> </div> </a>
                              </div>
{% endif %}
                          {% if block.settings.url_button_link_2 %}    <div li-if="block.settings.url_button_link_2" class="content_block">
    
                            <a href="{{ block.settings.url_button_link_2 }}" data-wf--button--variant="secondary-white" data-w-id="47ee13e6-1a71-57c3-88e5-9d80ec55d256" class="button w-variant-c2561e7e-4412-0265-95e9-2c9a124ce890 w-inline-block"> <div class="btn-txt-container"> <div class="btn-txt">{{ block.settings.text_button_text }}</div> <div class="btn-txt">{{ block.settings.text_button_text }}</div> </div> </a>
                              </div>
{% endif %}
                        </div>
                    
                      
                </div>
                    {% endcase %}
{% endfor %}

    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Video Hero",
    "class": "header-slider-section-2",
    "blocks": [
        {
            "name": "Headline",
            "type": "headline",
            "settings": [
                {
                    "id": "text_heading",
                    "type": "text",
                    "label": "Heading",
                    "default": "Become a Qualified Lash Extension Artist<br\/>"
                }
            ]
        },
        {
            "name": "Buttons",
            "type": "buttons",
            "settings": [
                {
                    "id": "url_button_link",
                    "type": "url",
                    "label": "Button Link"
                },
                {
                    "id": "text_button_text",
                    "type": "text",
                    "label": "Button Text",
                    "default": "View Courses"
                },
                {
                    "id": "url_button_link_2",
                    "type": "url",
                    "label": "Button Link 2"
                }
            ]
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "id": "richtext_text",
            "type": "richtext",
            "label": "Text",
            "default": "<p>Accelerate your Certification &amp; Confidence with an academy dedicated <strong>exclusively to the Lash Extension Industry.<\/strong><\/p>"
        }
    ],
    "presets": [
        {
            "name": "Video Hero",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "headline"
                },
                {
                    "type": "buttons"
                }
            ]
        }
    ]
} {% endschema %}