<div class="header-slide_wrap">
          <div class="header-slider swiper">
            <div class="header-slider-list swiper-wrapper">
              <div class="header-slide-2 swiper-slide">
                <div class="hero-slide-content_layout-2 is-centered">
                  <div class="slider-background_wrap">
                    <div data-poster-url="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F68fe753d6bdf371d941627de_Lash%20education%20video%20%281%29-poster-00001.jpg" data-video-urls="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F68fe753d6bdf371d941627de_Lash%20education%20video%20%281%29-transcode.mp4,https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F68fe753d6bdf371d941627de_Lash%20education%20video%20%281%29-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="slider-background-image desktop w-background-video w-background-video-atom"><video id="df33e776-d365-40f6-0eca-71ae7b60bc75-video" autoplay="" loop="" style="background-image:url("https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F68fe753d6bdf371d941627de_Lash%20education%20video%20%281%29-poster-00001.jpg")" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                        <source src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F68fe753d6bdf371d941627de_Lash%20education%20video%20%281%29-transcode.mp4" data-wf-ignore="true"></video><noscript>
                        <style>
  [data-wf-bgvideo-fallback-img] {
    display: none;
  }
  @media (prefers-reduced-motion: reduce) {
    [data-wf-bgvideo-fallback-img] {
      position: absolute;
      z-index: -100;
      display: inline-block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }</style><img data-wf-bgvideo-fallback-img="true" src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F68fe753d6bdf371d941627de_Lash%20education%20video%20%281%29-poster-00001.jpg" alt="">
                      </noscript>
                      <div aria-live="polite"><button type="button" data-w-bg-video-control="true" aria-controls="df33e776-d365-40f6-0eca-71ae7b60bc75-video" class="w-backgroundvideo-backgroundvideoplaypausebutton w-background-video--control"><span><img loading="lazy" src="https://uploads-ssl.webflow.com/6022af993a6b2191db3ed10c/628299f8aa233b83918e24fd_Pause.svg" alt="Pause video"></span><span hidden=""><img loading="lazy" src="https://uploads-ssl.webflow.com/6022af993a6b2191db3ed10c/628298b20ae0236682d4b87f_Play-24.svg" alt="Play video"></span></button></div>
                    </div>
                    <div data-poster-url="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F6900c4aa1182ce3404168eee_Hero%20Mobile%20V2-poster-00001.jpg" data-video-urls="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F6900c4aa1182ce3404168eee_Hero%20Mobile%20V2-transcode.mp4,https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F6900c4aa1182ce3404168eee_Hero%20Mobile%20V2-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="slider-background-image mobile w-background-video w-background-video-atom"><video id="df33e776-d365-40f6-0eca-71ae7b60bc7b-video" autoplay="" loop="" style="background-image:url("https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F6900c4aa1182ce3404168eee_Hero%20Mobile%20V2-poster-00001.jpg")" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                        <source src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F6900c4aa1182ce3404168eee_Hero%20Mobile%20V2-transcode.mp4" data-wf-ignore="true"></video><noscript>
                        <style>
  [data-wf-bgvideo-fallback-img] {
    display: none;
  }
  @media (prefers-reduced-motion: reduce) {
    [data-wf-bgvideo-fallback-img] {
      position: absolute;
      z-index: -100;
      display: inline-block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }</style><img data-wf-bgvideo-fallback-img="true" src="https://cdn.prod.website-files.com/68dbcf0fffbc57bf461d2689%2F6900c4aa1182ce3404168eee_Hero%20Mobile%20V2-poster-00001.jpg" alt="">
                      </noscript>
                      <div aria-live="polite"><button type="button" data-w-bg-video-control="true" aria-controls="df33e776-d365-40f6-0eca-71ae7b60bc7b-video" class="w-backgroundvideo-backgroundvideoplaypausebutton w-background-video--control"><span><img loading="lazy" src="https://uploads-ssl.webflow.com/6022af993a6b2191db3ed10c/628299f8aa233b83918e24fd_Pause.svg" alt="Pause video"></span><span hidden=""><img loading="lazy" src="https://uploads-ssl.webflow.com/6022af993a6b2191db3ed10c/628298b20ae0236682d4b87f_Play-24.svg" alt="Play video"></span></button></div>
                    </div>
                  </div>
                  <div class="slider-background-image-overlay-2"></div>
                  <div class="typo-zoom-text-wrapper-2 centre">
                    <div li-content-for-blocks="" class="centre-slide">
{% for block in section.blocks %}
{% case block.type %}
{% when '@app' %}
{% render block %}

                      {% when 'reviews' %}
            <div li-block="Reviews" class="content_block">
                    
                        
                    <div class="footer-rating"><img loading="lazy" src="{{ 'GoogleBadge.svg' | asset_url }}" alt="" class="google-icon">
                          <div>
{{ block.settings.text_text }}
</div>
                          <div class="video-stars"><img loading="lazy" src="{{ 'star-fill.svg' | asset_url }}" alt="" class="video-star"><img loading="lazy" src="{{ 'star-fill.svg' | asset_url }}" alt="" class="video-star"><img loading="lazy" src="{{ 'star-fill.svg' | asset_url }}" alt="" class="video-star"><img loading="lazy" src="{{ 'star-fill.svg' | asset_url }}" alt="" class="video-star"><img loading="lazy" src="{{ 'star-fill.svg' | asset_url }}" alt="" class="video-star"></div>
                          <div class="google-text">
                            <div class="google-text"><span class="_4-9-5---from-12k-reviews-0">5.0</span><span class="_4-9-5---from-12k-reviews-1">/5 - 160+ Reviews</span></div>
                          </div>
                        </div>
                    
                      
                </div>
                      {% when 'headline' %}
            <div li-block="Headline" class="content_block">
                    
                        
                    <h1 class="hero-title">
{{ block.settings.text_heading }}
</h1>
                    
                      
                </div>
                      {% when 'paragraph' %}
            <div li-block="Paragraph" class="content_block">
                    
                        
                    <div class="paragraph-x-large w-richtext"> {{ block.settings.richtext_paragraph }} </div>
                    
                      
                </div>
                      {% when 'buttons' %}
            <div li-block="Buttons" class="content_block">
                    
                        
                    {% if section.settings.text_button_text != blank && section.settings.text_button_text_2 != blank %}    <div li-if="section.settings.text_button_text != blank && section.settings.text_button_text_2 != blank" class="button-group-12">
    
                          {% if section.settings.text_button_text != blank %}    <div li-if="section.settings.text_button_text != blank">
    
                            <a href="{{ block.settings.url_button_link }}" data-w-id="dadcfcea-7e71-0beb-d7ee-748ea95eacf4" class="button w-inline-block"> <div class="btn-txt-container"> <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="btn-txt">{{ block.settings.text_button_text }}</div> <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="btn-txt">{{ block.settings.text_button_text }}</div> </div> </a>
                              </div>
{% endif %}
                          {% if section.settings.text_button_text_2 != blank %}    <div li-if="section.settings.text_button_text_2 != blank">
    
                            <a href="{{ block.settings.url_button_link_2 }}" data-w-id="96af114e-0e70-8eab-4de6-4c393b8c367d" class="button secondary-white w-inline-block"> <div class="btn-txt-container secondary-white-2"> <div class="btn-txt secondary-white-4">{{ block.settings.text_button_text_2 }}</div> <div class="btn-txt secondary-white-4">{{ block.settings.text_button_text_2 }}</div> </div> </a>
                              </div>
{% endif %}
                            </div>
{% endif %}
                    
                      
                </div>
                      {% when 'test-buttons' %}
            <div li-block="test-buttons" class="content_block">
                    
                        
                    {% if section.settings.text_button_text != blank && section.settings.text_button_text_2 != blank %}    <div li-if="section.settings.text_button_text != blank && section.settings.text_button_text_2 != blank" class="button-group-13">
    
                          {% if section.settings.text_button_text != blank %}    <div li-if="section.settings.text_button_text != blank">
    
                            <a href="{{ block.settings.url_button_link }}" class="button-29 w-button"> {{ block.settings.text_button_text }} </a>
                              </div>
{% endif %}
                          {% if section.settings.text_button_text_2 != blank %}    <div li-if="section.settings.text_button_text_2 != blank">
    
                            <a href="{{ block.settings.url_button_link_2 }}" class="button-29 is-secondary w-button"> {{ block.settings.text_button_text_2 }} </a>
                              </div>
{% endif %}
                            </div>
{% endif %}
                    
                      
                </div>
                    {% endcase %}
{% endfor %}

    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Video Hero",
    "class": "header-slider-section-2",
    "blocks": [
        {
            "name": "Reviews",
            "type": "reviews",
            "settings": [
                {
                    "id": "text_text",
                    "type": "text",
                    "label": "Text",
                    "default": "Google Review"
                }
            ]
        },
        {
            "name": "Headline",
            "type": "headline",
            "settings": [
                {
                    "id": "text_heading",
                    "type": "text",
                    "label": "Heading",
                    "default": "Become a Qualified Lash Extension Artist<br\/>"
                }
            ]
        },
        {
            "name": "Paragraph",
            "type": "paragraph",
            "settings": [
                {
                    "id": "richtext_paragraph",
                    "type": "richtext",
                    "label": "Paragraph",
                    "default": "<p>\n                          Accelerate your Certification &amp; Confidence with an academy dedicated <strong>exclusively to the Lash Extension Industry.<\/strong>\n                        <\/p>"
                }
            ]
        },
        {
            "name": "Buttons",
            "type": "buttons",
            "settings": [
                {
                    "id": "url_button_link",
                    "type": "url",
                    "label": "Button Link"
                },
                {
                    "id": "text_button_text",
                    "type": "text",
                    "label": "Button Text",
                    "default": "View Courses"
                },
                {
                    "id": "url_button_link_2",
                    "type": "url",
                    "label": "Button Link 2"
                },
                {
                    "id": "text_button_text_2",
                    "type": "text",
                    "label": "Button Text 2",
                    "default": "Contact"
                }
            ]
        },
        {
            "name": "test-buttons",
            "type": "test-buttons",
            "settings": [
                {
                    "id": "url_button_link",
                    "type": "url",
                    "label": "Button Link"
                },
                {
                    "id": "text_button_text",
                    "type": "text",
                    "label": "Button Text",
                    "default": "Button"
                },
                {
                    "id": "url_button_link_2",
                    "type": "url",
                    "label": "Button Link 2"
                },
                {
                    "id": "text_button_text_2",
                    "type": "text",
                    "label": "Button Text 2",
                    "default": "Button 2"
                }
            ]
        },
        {
            "type": "@app"
        }
    ],
    "presets": [
        {
            "name": "Video Hero",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "reviews"
                },
                {
                    "type": "headline"
                },
                {
                    "type": "paragraph"
                },
                {
                    "type": "buttons"
                },
                {
                    "type": "test-buttons"
                }
            ]
        }
    ]
} {% endschema %}